<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | SmartVolt</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="app-container">
        <div class="header-container">
            <div class="header__logo">
                <a href="#">SmartVolt</a>
            </div>
            <div class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item"><a href="#">Home</a></li>
                    <li class="header__menu-item"><a href="#">Sobre</a></li>
                    <li class="header__menu-item"><a href="#">Apresentação</a></li>
                    <li class="header__menu-item"><a href="#">Seção</a></li>
                </ul>
            </div>
            <div class="header__login">
                <button class="header__login-button"><a href="#">Login</a></button>
            </div>
        </div>

        <div class="hero-container">
            <h1 class="hero__title">Controle de Tomadas</h1>
            <p class="hero__description">Controle suas tomadas de forma simples e eficaz</p>
        </div>

        <div class="card-container">
            <div class="card">
                <h2>Consumo Total</h2>
                <p><b>Potência:</b > <span th:text="${tsW}">50</span> W</p>
                <p><b>Corrente:</b> <span th:text="${tsWh}">15.5</span> A</p>
                <p><b>Consumo em Joule:</b> <span th:text="${tsGt}">15.5</span> J</p>
                <p><b>Consumo em kWh:</b> <span th:text="${tsGr}">15.5</span> kWh</p>
            </div>
            <div class="card">
                <ul class="card__list">
                    <form th:each="tomada : ${tomadas}" th:action="@{/home/{id}(id=${tomada.id})}" method="get">
                        <li class="card__list-item"><button>Tomada <b th:text="${tomada.id}"></b></button></li>
                    </form>
                </ul>
            </div>
            <div class="card">
                <h2>Consumo Individual</h2>
                <p><span>Tomada </span><b th:text="${tomadaS.id}"></b></p><br>
                <p><b>Potência:</b> <span th:text="${tomadaS.watts}">Erro 404</span> W</p>
                <p><b>Corrente:</b> <span th:text="${tomadaS.wh}">Erro 404</span> A</p>
                <p><b>Consumo em Joule:</b> <span th:text="${tomadaS.Gt}">Erro 404</span> J</p>
                <p><b>Consumo em kWh:</b> <span th:text="${tomadaS.Gr}">Erro 404</span> kWh</p>
            </div>
        </div>
    </div>
</body>
</html>